.wrapper {
  border: 1px solid black;
  border-radius: 4px;
  width: 200px;
  position: absolute;
  right: 500px;
  top: 27px;
}

.input {
  outline: 0px solid transparent;
  border: 0px solid transparent;
}

.buttons {
  border-top: 1px solid black;
}

.button {
  border: 0px solid transparent;
  background-color: transparent;
  width: 50%;
}

.list {
  height: 400px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style-type: none;
  padding: 16px;
}
